html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c0c86d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.game-board {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  cursor: url("../images/cursor.png"), auto;
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.score-container {
  flex-basis: 15%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.score {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worm {
  width: 100%;
  height: 100%;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.5s ease-in-out;
}

.board-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mole-container {
  flex-basis: 20%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 267px;
  height: 267px;
  border: 2px solid white;
}

.hungry {
  cursor: url("../images/cursor-worm.png"), auto;
}

.gone {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.winning-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning-img {
  max-height: 100vh;
}
